pandas
numpy
matplotlib
scikit-learn
fastapi
uvicorn[standard]
sqlalchemy
pydantic
dotenv
pytest
psycopg2-binary
requests
python-jose
python-multipart
pyjwt
pwdlib[argon2]
huggingface_hub
google-genai
imblearn
pytest-mock